.create-shop {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.cards {
  height: 180px;
  width: 180px;
  background-color: #142442;
  margin-bottom: 2rem;
  display: flex;
  padding: 0.2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.cards-icons {
  width: 64px;
  height: 64px;
}

.feed-card {
  margin: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  height: 250px;
}

.feed-img {
  height: 130px;
}